body { 
    text-align: center; 
}

#canvas {
    border: 1px solid #000000;
    padding: 5px;
    background-image: url(https://img.freepik.com/premium-vector/pixel-art-farm-landscape-with-barn-mill-silo-fence-trees-background-vector-8-bit-game_360488-1020.jpg);
    background-size: cover;
}

.btnSong{
    margin: 5px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #574c47;
    cursor: pointer;
}